.pages-links-container {
  display: flex;
  gap: 10px;
  padding: 5px;
}

.arrow {
  border: none;
  margin: auto;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.arrow:hover {
  background-color: #ffa41b9b;
}

.arrow.hide {
  display: none;
}

.link-page {
  padding: 3px;
  border-radius: 5px;
  min-width: 18px;
  text-align: center;
  cursor: pointer;
}
.link-page:not(.link-page-active):hover {
  background-color: #ffa41b9b;
}

.link-page-active {
  color: white;
  background-color: #ffa41b;
}
