.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  background-color: white;
}

.main-menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #ffa41b;
}

.logo {
  border: none;
}

.desktop-long-label {
  display: none;
}

.text-field-with-button {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  gap: 4px;
}

.text-field {
  height: 40px;
  background-color: white;
  padding: 8px;
  border: 2px solid #ffa41b;
  border-radius: 8px;
  font-size: 12px;
  font-family: inherit;
}

.main-search-field {
  width: 100%;
  min-width: 120px;
  max-width: 360px;
  flex-grow: 1;
}

.categories-navigation {
  padding-top: 14px;
  display: flex;
  justify-content: space-between;

  font-size: 12px;
  font-weight: bold;
  color: #666;
  padding: 16px 10px 6px;
  white-space: nowrap;


}

.basket{
  padding: 8px;
}

@media screen and (min-width: 720px) {
  .mobile-short-label {
    display: none;
  }

  .desktop-long-label {
    display: initial;
  }
}

@media screen and (max-width: 530px) {
  .main-search-field {
    width: 100%;
  }

  .text-field {
    height: fit-content;

    padding: 5px;
  }

  .basket{
    padding: 4px;
  }
}