.recent-ads {
  margin-inline: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.title {
  margin-top: 60px;
}

.card {
  position: relative;
}

.bar-filter {
  position: fixed;
  z-index: 2;

  display: flex;
  justify-content: center;
  gap: 50px;

  background-color: rgba(224, 224, 224, .9);

  right: 0;
  left: 0;
  padding: 10px;
}


.filtres-btn {

}

