
.pages-links-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.arrow {
  margin: auto;
  height: 20px;
  padding: 0;
}

.link-page{
  box-shadow: 0 0 3px black;
  padding: 8px;
  background-color: rgb(236, 236, 236);
}

a.link-page-active {
  color: white;
  background-color: #ffa41b;
}